@page
@model CinemaWeb.Pages.Sessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Создать новое</a>
</p>
<form method="get">
    <input type="text"
           name="filmTitle"
           value="@Model.FilmTitle"
           placeholder="Поиск..."
           onchange="this.form.submit()"
           class="form-control" />
    <select class="form-control"
            name="sortColumn"
            onchange="this.form.submit()">
        <option value="price" selected="@(Model.SortColumn == "price")">
            По цене
            (дешевые)
        </option>
        <option value="price_desc" selected="@(Model.SortColumn == "price_desc")">
            По
            цене (дорогие)
        </option>
    </select>
    <select class="form-control" asp-items="ViewBag.Halls"
            asp-for="Hall"
            name="Hall"
            onchange="this.form.submit()">
    </select>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Is3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Hall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.HallInfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SessionId">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.SessionId">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.SessionId">Удалить</a>
            </td>
        </tr>
}


    </tbody>
</table>
<div style="text-align:center">
@if (Model.PageIndex > 1)
{
    <a asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Назад</a>
}
<span style="margin:5px; padding:5px;">
@Model.PageIndex
</span>
@if (Model.PageIndex < Model.TotalPages)
{
    <a asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Вперед</a>
}
</div>