@page
@model CinemaWeb.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Row)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Row)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Seat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Session)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Session.SessionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Visitor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Visitor.VisitorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
